@media screen and (min-width: 1000px) {
  
  body {
    background-image: url('/images/site/checkerboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 2rem 5rem;
    border: 3px solid black;
    border-radius: 5px; 
  }
  #wrapper {
    background-color: white;
  }
  /* HEADER */
  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  }
  header a {
    text-decoration: none;
    color: black;
  }
  .siteName {
    font-size: 29px;
    margin: 0 0 0 20px;
  }
  #tools {
    font-size: 18px;
    margin: 0 20px 0 0;
  }

  /* NAV BAR */
  nav {
    background-color: black;
    height: 42px;
  }
  nav ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  nav li {
    list-style-type: none;
    margin: 11px 10px 0px 10px;
    font-size: 20px;
  }
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  /* MAIN */
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* Title */
  h1 {
    grid-column: 1 / 3;
    margin: 50px 30px;
  }

  /* Body */

  .hero {
    grid-column: 1 / 3;
    position: relative;
    margin: 50px auto;
    width: 50vw;
  }
  .hero_img {
    width: 100%;
  }

  .hero_section {
    background-color: white;
    opacity: 0.9;
    padding: 20px;
    position: absolute;
    top: 10%;
    height: 60%;
    width: 30%;
  }
  .hero h2 {
    font-size: 22px;
    color: #01B0D3;
  }
  .hero_list {
    list-style-type: none;
    padding: 0 0 0 5px;
  }
  .hero_list li {
    margin: 5px;
    font-size: 20px;
    color: #51C5E3;
  }
  .hero_button {
    background-color: #51C5E3;
    height: 25%;
    width: 100%;
    border: double 3px #01B0D3;
    font-size: 19px;
    font-weight: bold;
  }

  /* Upgrades */
  .upgrades {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    text-align: center;
  }
  .upgrades h3 {
    text-align: start;
    font-size: 30px;
    margin: 0 0 0 20px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .flux_capacitor {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .img {
    background-color: #01B0D3;
    height: 130px;
    border: solid 2px black; 
    margin: 10px;
  }
  .flames_decals {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .bumper_stickers {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .hubs_caps {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .item {
    width: 100px;
    height: auto;
  }
  .flames {
    width: 80px;
    height: auto;
    margin: 13px 0;
  }
  .capacitor {
    margin: 10px 0;
  }
  .sticker {
    margin: 20px 0;
  }
  .caps {
    margin: 15px 0;
  }
  .upgrades a {
    font-size: 17px;
  }

  /* Reviews */
  .reviews h3 {
    font-size: 30px;
    margin: 0 0 20px 40px;
    grid-column: 2 / 3;
  }
  .reviews ul {
    margin: 50px 20px;
  }
  .reviews li {
    font-size: 23px;
    margin: 30px 0;
  }
  /* grid */ 
  #inv-display {
    grid-column: 1 / 3;
    text-align: center;
    columns: 3;
  }
  #inv-display li {
    width: 75%;
    border: 3px solid black;
    border-radius: 5px;
    vertical-align: top;
    page-break-inside: avoid;
    padding: 20px 0;
    margin: 10px;
  }
  /* single vehicle */
  .vehicle {
    grid-column: 1 / 3;
    display: flex;
  }
  .main-info {
    margin: 20px;
  }
  .details {
    margin: 10px 15px;
    height: 150px;
  }
  .details p {
    min-height: 35px;
    padding: 10px 0 5px 10px;
    font-size: 20px;
  }
  p.mechanic {
    font-weight: bold;
    font-size: 23px;
  }
  .mechanic, .description, .miles {
    background-color: gainsboro;
  }

  /* Footer */
  footer {
    margin: 80px 0 0 10px;
    padding: 0 0 20px 0;
    background-color: white;
  }

}
@media screen and (min-width: 250px) and (max-width: 1000px){
  body {
    margin: 0;
  }
  /* HEADER */
  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  }
  header a {
    text-decoration: none;
    color: black;
  }
  .siteName {
    font-size: 25px;
    margin: 0 0 0 10px;
  }
  #tools {
    font-size: 15px;
    margin: 0 10px 0 0;
  }

  /* NAV BAR */
  nav {
    background-color: black;
    color: white;
    height: 40px;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  nav li {
    list-style-type: none;
    margin: 11px 15px 0 0;
  }
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  /* MAIN */
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto 1fr 1fr;
  }

  /* Title */
  h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 50px 30px;
  }

  /* Body */

  .hero {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position: relative;
    margin: 90px auto;
    width: 80vw;
  }
  .hero_img {
    width: 100%;
  }

  .hero_section {
    background-color: white;
    opacity: 0.9;
    padding: 15px;
    position: absolute;
    top: 10%;
    height: 90%;
    width: 30%;
  }
  .hero h2 {
    font-size: 12px;
    color: #51C5E3;
  } 
  .hero_list {
    list-style-type: none;
    padding: 0 0 0 5px;
  }
  .hero_list li {
    margin: 1px;
    font-size: 9px;
    color: #51C5E3;
  }
  .hero_button {
    background-color: #51C5E3;
    height: 25%;
    width: 100%;
    border: double 3px #01B0D3;
    font-size: 9.5px;
    font-weight: bold;
  }

  /* Upgrades */
  .upgrades {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 130px 130px;
    text-align: center;
  }
  .upgrades h3 {
    text-align: start;
    font-size: 25px;
    margin: 0 0 0 15px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .flux_capacitor {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .img {
    background-color: #01B0D3;
    height: 70px;
    border: solid 2px black; 
    margin: 10px;
  }
  .flames_decals {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .bumper_stickers {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .hubs_caps {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .item {
    width: 50px;
    height: auto;
  }
  .capacitor {
    margin: 10px 0;
  }
  .flames {
    width: 40px;
    height: auto;
    margin: 9px 0;
  }
  .sticker {
    margin: 15px 0;
  }
  .caps {
    margin: 10px 0;
  }
  .upgrades a {
    font-size: 15px;
  }

  /* Reviews */
  .reviews {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .reviews h3 {
    font-size: 25px;
    margin: 0 0 20px 15px;
    grid-column: 2 / 3;
  }
  .reviews ul {
    margin: 50px 20px;
  }
  .reviews li {
    font-size: 20px;
    margin: 20px 0;
  }

  /* grid */
  #inv-display {
    grid-column: 1 / 2;
    text-align: center;
    columns: 1;
  }
  #inv-display li {
    width: 85%;
    border: 3px solid black;
    border-radius: 5px;
    vertical-align: top;
    page-break-inside: avoid;
    padding: 20px 0;
    margin: 10px;
  }

  /* single vehicle */
  .vehicle {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
  }
  .main-info {
    margin: 20px;
  }
  .main-info img {
    width: 80vw;
    height: auto;
    margin: 0 auto;
  }
  .details {
    margin: 10px 15px;
    height: 100%;
  }
  .details p {
    min-height: 35px;
    padding: 10px 0 5px 10px;
    font-size: 17px;
  }
  p.mechanic {
    font-weight: bold;
    font-size: 20px;
  }
  .mechanic, .description, .miles {
    background-color: gainsboro;
  }

  /* Footer */
  footer {
    margin: 0 0 0 10px;
  }
}
